{% extends "cv/navbar.html" %}
{% load static %}
<title> Curriculum Vitae </title>

{% block CvElement %}
<li class="navbaronhover nav-item">
  <div class="itemsnavbartext">
  <a class="itemsnavbar nav-link" href="/cv">CV (current)</a>
  </div>
</li>
{% endblock %}

{% block bodytag %}
<body class="pagebg" >
{% endblock %}
{% block body %}

<div class="content">
  <div id="adobe-dc-view" style="height: 75vh; width: 80vw; border-radius: 20px;"></div>
  <!--<embed src="{% static 'cv/ab.PDF' %}" style="width: 80vw; height: 80vh; border-radius: 20px;"
  type="application/pdf">
  -->
</div>
<script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
  document.addEventListener("adobe_dc_view_sdk.ready", function(){
    var adobeDCView = new AdobeDC.View({clientId: "41f6ea517e234cfd827e6a847001d44c", divId: "adobe-dc-view"});
    adobeDCView.previewFile({
      content:{ location:
        { url: "{%static 'cv/cv.PDF' %}"}},
      metaData:{fileName: "cv.PDF"}
    },
    {
      embedMode: "SIZED_CONTAINER"
    });
  });
</script>

{% endblock %}

{% block footer %}

<div class="footer">
  <div class="footercontent">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><strong>CV</strong></li>

    </ol>
  </nav>
  <div class="footerinfo">
    <p >Made with Django @4.1.2 </p>
  </div>

      
      

 
</div>

</div>


{% endblock %}

